@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

:root {
  --primary-color: #f9f9fb;
  --background-color: #111;
  --secondary-color: #444;

  --object-color: #1e90ff;
  --hover-color: #1e8fff8b;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  font:
    1.12rem "Roboto",
    sans-serif;
  background: var(--background-color);
  color: var(--primary-color);
  padding: 1rem;
}

main {
  padding: 2rem;
}
