.card-layout {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  gap: 2rem;
}

.card {
  width: 22.5%;
  height: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background: var(--secondary-color);
  border-radius: 18px;
}

.card:hover {
  transform: translateY(-10px);
  cursor: pointer;
}

.card .img-wrapper {
  width: 100%;
  height: 60%;
}

.card .img-wrapper img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-top-left-radius: 18px;
  border-top-right-radius: 18px;
}

.card .price-wrapper {
  width: 100%;
  padding: 0 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.card .button-wrapper {
  width: 100%;
  padding: 1rem 1rem;
  display: flex;
  align-items: center;
  gap: 1rem;
}

.card .button-wrapper button {
  flex: 1;
  padding: 0.5rem;
  background: var(--object-color);
  color: var(--primary-text);
  font-weight: 600;
  border: none;
  cursor: pointer;
}

.card .button-wrapper button:hover {
  background: var(--hover-color);
  transition: 0.3s;
}
